{% extends 'base1.html' %}

{% load static %}
{% block contener %}



  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row default-layout-navbar">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="{% url 'mystaff_home' %}"><img style="height: 80px; width: 80px; border-radius: 50%;" src="{% static 'images/logo1.png' %}" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'mystaff_home' %}"><img src="{% static 'images/logo2.png' %}" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fas fa-bars"></span>
        </button>
        
        <ul class="navbar-nav navbar-nav-right">
          
          <li class="nav-item dropdown d-none d-lg-flex">
            <div class="nav-link">
              <a href="{%url 'mystaff_home' %}" >Home</a>

            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle"  href="{%url 'staff_feedback_chat' 1%}">
              <i class="fas fa-envelope mx-0"></i>
            </a>

          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="fas fa-cog text-primary"></i>
                Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout_user' %}" class="dropdown-item">
                <i class="fas fa-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="fas fa-bars"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      
      

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              welcome {{user}}
            </h3>
          </div>
          
          <div class="row">


          </div>
          <div class="row">
            <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    <i class="fas fa-table"></i>
                    Students Data
                  </h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th> name</th>
                          <th> Course</th>
                          <th>Gender</th>
                          
                          <th>Email</th>

                          
                        </tr>
                      </thead>
                      <tbody>
                        {% for All_Students in All_Students_by_course_id %}
                        <tr>

                        
                          <td class="font-weight-bold">
                            {{All_Students.admin.first_name}} {{All_Students.admin.last_name}}
                          </td>
                          <td class="text-muted">
                            {{All_Students.course_id}}
                          </td>
                          <td>
                            {{All_Students.gender}}

                          </td>
                          <td>
                            {{All_Students.admin.email}}


                          </td>
                        
                          
                        </tr>

                          
                         
                        
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                    <i class="fas fa-calendar-alt"></i>
                    Calendar
                  </h4>
                  <div id="inline-datepicker-example" class="datepicker"></div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% endblock contener %}